{
  "cookie": "serviceToken="/vjQa88K2JeX+vuUvl6J6Lz+hfn00CNZvGy8+4ude24AalKVVr+fj8c6LIOwEPzSexxrSZrsMV2S8+rMhjUUeJmAKSTAEuAXvF2WLn3UzwMhx/LpZm2m1TuQp2kBORGpwxB9izRzZrzd40ptpYpPCjYspqT5UjEVK1ODwRya2p8w5IS56P17J7AjVPrnyFxM8BZb9V5xpky3GXG5C4NbvZJSSOWGwSkEULr8NNab/8/h7qhwRogM4NY+K4RXOYjqdnA0DbLjWGO/sTjEemtXAIHsG/gjsAEAzujU01tDQTO3ffDhN4V3HDFaubTT/hUGEtytWgFVfIRsdt8fs1+miQWvpH/EY9JvdCFY2aJRJJE="; xiaomichatbot_ph="W1PYAkGCqUip5BxAns7Bbg=="; api-platform_serviceToken="yVHEDQlNiFT1WavLtPFnez0an978sOXJEAxRfYwC7J/dBMLvDg11GaTeUjf+Cu6AHdp+msw67WOodf+o+fdAs7ynnVkaP3wkAaXeZ1Xgnyh+lPGVF4QvbvzJ70IsMioKqPH9kzXL3+l7MuHsk/9YvjO36ek37IMppbVdpGJDusjYa8PxLGXttWkbrwrvzYVKiXEBxx9dUPTCd2dS6F9jGPVfkAnIyj1NVoZNgoRWs+nghsVXkTUdIoBJ7+mv+aCjdGVLPPxWcT2Gn8CX6YGkpid7nwtyxjbxaAwmYKE0ZrHK5woOJUT0Kt+WClMfBUZzfJ0u1355Cd3WE0rBhJXbPV1Il2i/yLtIm3PqyiQse9E="; userId=135189685; api-platform_slh="U6oKhU14xOyk5ZVsSEUSJdVzx1U="; api-platform_ph="Ptj5GK9+gKGzMFDN1N5zww=="",
  "interval_seconds": 300,
  "snapshot_path": "~/.claude/plugins/claude-hud/mimo-snapshot.json"
}
